{
    "publicHostname": "localhost",
    "publicPort": 1024,
    "publicIp": "127.0.0.1",
    "mongodbUrl": "mongodb://localhost/openmed",
    "mailConfig": {
        "provider": "gmail",
        "username": "",
        "password": ""
    },
    "sslCert": "",
    "sslKey": "",
    "rtcMinPort": 30000,
    "rtcMaxPort": 39999
}
