{
    "publicHostname": "<your-host-name>",
    "publicPort": 443,
    "publicIp": "<your-public-ip>",
    "mongodbUrl": "mongodb://<your-mongo-username>:<your-mongo-password>@<your-mongo-host-name>:27017/<your-mongo-database-name>",
    "mailConfig": {
        "provider": "<your-provider>",
        "smtp": "<smtp-host-address-if-any>",
        "port": "<smtp-port-if-any>",
        "username": "<your-email-address>",
        "password": "<your-password>"
    },
    "sslCert": "/etc/letsencrypt/live/<your-host-name>/fullchain.pem",
    "sslKey": "/etc/letsencrypt/live/<your-hostname-name>/privkey.pem"
}

